{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Add user from CSV{% endblock %}

{% block body %}

<div class="container">
<h1 class="text-center mt-3">Ajouter des utilisateurs à partir d'un fichier .CSV</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <a href="{{ path('admin_users') }}" class="btn btn-dark">Retour</a>
    <button type="submit" class="btn btn-success">Ajouter</button>
    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#infoModal">Infos</a>
    {{ form_end(form) }}


    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Informations</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a href="https://extendsclass.com/csv-generator.html" target="_blank">Generateur</a></li>
                    <li><code>campus_id,username,password,lastname,firstname,phone_number,email</code></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
            </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}